* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

h1 {
  margin: 10px;
}

#container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  background-color: paleturquoise;
  flex-shrink: 0;
}